[submodule "vendor/php-code-coverage"]
	path = vendor/php-code-coverage
	url = git://github.com/sebastianbergmann/php-code-coverage.git
[submodule "ant-helpers"]
	path = ant-helpers
	url = git://github.com/meza/ant-helpers.git
